# Python
__pycache__/
*.py[cod]
*.so
.venv/

# Data artifacts
data/interim/*
data/processed/*
data/raw/*
artifacts/*
logs/*

# Keep directory structure
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/raw/.gitkeep
!artifacts/.gitkeep
!logs/.gitkeep

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Env
.env
.envrc